<?xml version="1.0"?>
<assembly>
	<id></id>
	<formats>
		<format>zip</format>
	</formats>
	<includeBaseDirectory>false</includeBaseDirectory>
	<dependencySets>
		<dependencySet>
			<outputDirectory>/</outputDirectory>
			<useProjectArtifact>true</useProjectArtifact>
			<useTransitiveFiltering>true</useTransitiveFiltering>
			<excludes>
				<exclude>org.elasticsearch:elasticsearch</exclude>
				<exclude>org.apache.lucene:lucene-core</exclude>
				<exclude>org.apache.lucene:lucene-analyzers-common</exclude>
				<exclude>org.apache.lucene:lucene-analyzers-kuromoji</exclude>
			</excludes>
		</dependencySet>
	</dependencySets>
</assembly>
